{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body {
display: flex;
flex-direction: column;
min-height: 100vh;
font-family: Arial, sans-serif;
}

header {
background-color: #444;
color: #fff;
padding: 10px 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

header.logo  {
width: 50px;
margin: 0 20px;
}

.logo>img{
    width: 110px;
    height: 110px;
}
header nav ul {
list-style: none;
display: flex;
gap: 15px;
}

header nav ul li {
display: inline;
}

header nav ul li a {
color: #fff;
text-decoration: none;
}

header nav ul li a:hover {
text-decoration: underline;
}

main {
flex: 1;
padding: 20px;
}

.section {
margin-bottom: 40px;
}

.section h2 {
margin-bottom: 10px;
color: #333;
}

.section p {
margin-bottom: 20px;
color: #555;
}

.section ul {
list-style: none;
padding: 0;
}

.section ul li {
background-color: #f4f4f4;
margin-bottom: 10px;
padding: 10px;
border-radius: 5px;
}


footer {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
margin-top: auto;
}

footer p {
margin: 0 0 10px 0;
}

footer nav ul {
list-style: none;
padding: 0;
display: flex;
justify-content: center;
gap: 15px;
}

footer nav ul li {
display: inline;
}

footer nav ul li a {
color: #fff;
text-decoration: none;
}

footer nav ul li a:hover {
text-decoration: underline;
}